@model IEnumerable<OdeToFood.ViewModels.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by Name" />
</form>

@foreach (var restaurant in Model)
{
    <div>
        <h4>@restaurant.Name</h4>
        <div>@restaurant.City, @restaurant.Country</div>
        <div>Reviews: @restaurant.CountOfReviews</div>
        <hr />
    </div>
}